body{
   background-image: url(./fondo.jpg);
}
#imagen1{
    margin-left: 650px;
    margin-top: 250px;
    padding: 50px;
}
#boton1{
    margin-left: 840px;
        margin-top: 5px;
    
}
/*ejercicio 2*/
#boton2{
    margin-left: 110px;
}
#boton3{
    margin-left: 110px;
}
/*ejercicio 3*/
#bienvenida{
    background-color: aliceblue;
}
#boton4{
 margin-left: 980px;
 margin-top: 35px;
 padding: 15px;
}